<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhancheng.core.dao.AgentWalletMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.zhancheng.core.entity.AgentWallet" id="agentWalletMap">
        <result property="id" column="id"/>
        <result property="agentId" column="agent_id"/>
        <result property="password" column="password"/>
        <result property="incomeBalance" column="income_balance"/>
        <result property="withdrawalBalance" column="withdrawal_balance"/>
        <result property="settlementBalance" column="settlement_balance"/>
        <result property="withdrawalObject" column="withdrawal_object"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,agent_id,password,income_balance,withdrawal_balance,settlement_balance,withdrawal_object,gmt_create,gmt_modified  </sql>

    <select id="queryByAgentId" resultType="com.zhancheng.core.entity.AgentWallet">
        SELECT <include refid="Base_Column_List"/>
        FROM zc_agent_wallet
        WHERE agent_id = #{agentId}
    </select>


</mapper>