<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhancheng.core.dao.ProductImageMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.zhancheng.core.entity.ProductImage" id="productImageMap">
        <result property="bid" column="bid"/>
        <result property="pid" column="pid"/>
        <result property="url" column="url"/>
        <result property="sort" column="sort"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List"> bid,pid,url,sort,is_deleted,gmt_create,gmt_modified   </sql>


</mapper>